/*When starting the story*/

body {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  color: white;
  text-align: center;
}

p {
  color: white;
  text-align: center;
}
